# lldb config file

settings set target.x86-disassembly-flavor intel
settings set prompt "(jjaniec) "

script print "\033[31m"
script print "⠀⠰⡿⠿⠛⠛⠻⠿⣷"
script print "⠀⠀⠀⠀⠀⠀⣀⣄⡀⠀⠀⠀⠀⢀⣀⣀⣤⣄⣀⡀"
script print "⠀⠀⠀⠀⠀⢸⣿⣿⣷⠀⠀⠀⠀⠛⠛⣿⣿⣿⡛⠿⠷"
script print "⠀⠀⠀⠀⠀⠘⠿⠿⠋⠀⠀⠀⠀⠀⠀⣿⣿⣿⠇"
script print "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠁"
script print ""
script print "⠀⠀⠀⠀⣿⣷⣄⠀⢶⣶⣷⣶⣶⣤⣀"
script print "⠀⠀⠀⠀⣿⣿⣿⠀⠀⠀⠀⠀⠈⠙⠻⠗"
script print "⠀⠀⠀⣰⣿⣿⣿⠀⠀⠀⠀⢀⣀⣠⣤⣴⣶⡄"
script print "⠀⣠⣾⣿⣿⣿⣥⣶⣶⣿⣿⣿⣿⣿⠿⠿⠛⠃"
script print "⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄"
script print "⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡁"
script print "⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁"
script print "⠀⠀⠛⢿⣿⣿⣿⣿⣿⣿⡿⠟"
script print "⠀⠀⠀⠀⠀⠉⠉⠉"
script print "\033[0m"
